<main class="main-area">
  <div class="container">
    <div class="card">
      <h1 class="card__title">Добро пожаловать</h1>
      <img src="../assets/img/angular.svg" alt="" class="card__image" />
      <form [formGroup]="generalForm" class="general-form">
        <div class="general-form__input-block">
          <input
            type="text"
            formControlName="username"
            placeholder="Имя пользователя"
            id="username"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['username'].errors?.['required'] && (generalForm.controls['username'].touched || submitted)"
            class="general-form__validation"
          >
            Имя пользователя обязательно.
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="email"
            formControlName="email"
            placeholder="Электронная почта"
            id="email"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['email'].errors?.['required'] && (generalForm.controls['email'].touched || submitted)"
            class="general-form__validation"
          >
            Электронная почта обязательна.
          </p>
          <p
            *ngIf="generalForm.controls['email'].errors?.['email'] && (generalForm.controls['email'].touched || submitted)"
            class="general-form__validation"
          >
            Неверный адрес электронной почты.
          </p>
        </div>

        <div
          class="general-form__input-block"
          formArrayName="phoneNumber"
          *ngFor="let number of formPhoneNumber.controls; let i = index;"
        >
          <input
            type="tel"
            [formControlName]="i"
            placeholder="Номер телефона"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="formPhoneNumber.controls[i].errors?.['required'] && (formPhoneNumber.controls[i].touched || submitted)"
            class="general-form__validation"
          >
            Номер телефона обязателен.
          </p>
        </div>

        <div class="general-form__phone-buttons-wrapper">
          <button
            (click)="addPhoneNumber()"
            class="general-form__phone-buttons"
          >
            Добавить поле
          </button>
          <button
            (click)="deletePhoneNumber()"
            class="general-form__phone-buttons"
          >
            Убрать поле
          </button>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="password"
            placeholder="Пароль"
            id="password"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['password'].errors?.['required'] && (generalForm.controls['password'].touched || submitted)"
            class="general-form__validation"
          >
            Пароль обязателен.
          </p>
          <p
            *ngIf="generalForm.controls['password'].errors?.['minlength'] && (generalForm.controls['password'].touched || submitted)"
            class="general-form__validation"
          >
            Длина пароля должна составлять как минимум 5 символов.
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="repeatPassword"
            placeholder="Подтвердить пароль"
            id="repeatPassword"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['repeatPassword'].errors && (generalForm.controls['repeatPassword'].touched || submitted)"
            class="general-form__validation"
          >
            Пароли должны совпадать.
          </p>
        </div>

        <button class="general-form__submit" (click)="onSubmit()">
          Зарегистрироваться
        </button>
      </form>

      <div class="general-form-textwrapper">
        <span>Есть аккаунт? </span>
        <a href="#"> Войдите в систему!</a>
      </div>
    </div>
  </div>
</main>
