div
    display: flex
    width: 300px
    justify-content: space-between
input
    border: 0
    width: 300px
    border-bottom: 2px solid #adadad
    &:focus
        transition: all 0.4s
        border-bottom: 2px solid #6a7dfe
button
    margin-bottom: 115px
.general-form-textwrapper
    display: flex
    justify-content: space-around
    padding: 0 40px