<main class="main-area">
  <div class="container">
    <div class="card">
      <h1 class="card__title">{{ "WELCOME" | translate }}</h1>

      <img src="../assets/img/angular.svg" alt="" class="card__image" />

      <form [formGroup]="generalForm" class="general-form">
        <div class="general-form__input-block">
          <input
            type="text"
            formControlName="username"
            placeholder="{{'USERNAME' | translate}}"
            id="username"
            class="general-form__input-block__input"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['username'].errors?.['required'] && (generalForm.controls['username'].touched)"
            class="general-form__validation"
          >
            {{'USERNAMEERROR' | translate}}
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="email"
            formControlName="email"
            placeholder="{{'EMAIL' | translate}}"
            id="email"
            class="general-form__input-block__input"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['email'].errors?.['required'] && (generalForm.controls['email'].touched)"
            class="general-form__validation"
          >
            {{'EMAILREQUIREDERROR' | translate}}
          </p>
          <p
            *ngIf="generalForm.controls['email'].errors?.['email'] && (generalForm.controls['email'].touched)"
            class="general-form__validation"
          >
            {{'INVALIDEMAILERROR' | translate}}
          </p>
        </div>

        <div
          class="general-form__input-block"
          formArrayName="phoneNumber"
          *ngFor="let number of formPhoneNumber.controls; let i = index;"
        >
          <input
            type="tel"
            [formControlName]="i"
            placeholder="{{'PHONENUMBER' | translate}}"
            class="general-form__input-block__input"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="formPhoneNumber.controls[i].errors?.['required'] && (formPhoneNumber.controls[i].touched)"
            class="general-form__validation"
          >
            {{'PHONEREQUIREDERROR' | translate}}
          </p>
        </div>

        <div class="general-form__phone-buttons-wrapper">
          <button
            (click)="addPhoneNumber()"
            class="general-form__phone-buttons"
          >
            {{'ADDFIELD' | translate}}
          </button>
          <button
            (click)="deletePhoneNumber()"
            class="general-form__phone-buttons"
          >
            {{'DELETEFIELD' | translate}}
          </button>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="password"
            placeholder="{{'PASSWORD' | translate}}"
            id="password"
            class="general-form__input-block__input"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['password'].errors?.['required'] && (generalForm.controls['password'].touched)"
            class="general-form__validation"
          >
            {{'PASSWORDREQUIREDERROR' | translate}}
          </p>
          <p
            *ngIf="generalForm.controls['password'].errors?.['minlength'] && (generalForm.controls['password'].touched)"
            class="general-form__validation"
          >
            {{'PASSWORDLENGTHERROR' | translate}}
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="repeatPassword"
            placeholder="{{'CONFIRMPASSWORD' | translate}}"
            id="repeatPassword"
            class="general-form__input-block__input"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['repeatPassword'].errors && (generalForm.controls['repeatPassword'].touched)"
            class="general-form__validation"
          >
            {{'PASSWORDMISMATCHERROR' | translate}}
          </p>
        </div>

        <button
          class="general-form__submit"
          (click)="onSubmit()"
          [title]=" 'REGISTER' | translate "
        >
          {{'REGISTER' | translate}}
        </button>
      </form>

      <div class="general-form-textwrapper">
        <span>{{'HAVEANACCOUNT' | translate}}</span>
        <a href="#">{{'LOGIN' | translate}}</a>
      </div>
    </div>
  </div>
</main>
