.select {
    display: block;
    position: absolute;
    width: 150px;
    right: 0;
  }
  @media (max-width: 567px) {
    .select {
      display: block;
      position: absolute;
      width: 100px;
      right: 0;
    }
  }