<main class="main-area">
  <div class="container">
    <div class="card">
      <h1 class="card__title">Welcome</h1>
      <img src="../assets/img/angular.svg" alt="" class="card__image" />
      <form [formGroup]="generalForm" class="general-form">
        <div class="general-form__input-block">
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            id="username"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['username'].errors?.['required'] && (generalForm.controls['username'].touched || submitted)"
            class="general-form__validation"
          >
            Username is required.
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            id="email"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['email'].errors?.['required'] && (generalForm.controls['email'].touched || submitted)"
            class="general-form__validation"
          >
            Email is required.
          </p>
          <p
            *ngIf="generalForm.controls['email'].errors?.['email'] && (generalForm.controls['email'].touched || submitted)"
            class="general-form__validation"
          >
            Invalid email.
          </p>
        </div>

        <div
          class="general-form__input-block"
          formArrayName="phoneNumber"
          *ngFor="let number of formPhoneNumber.controls; let i = index;"
        >
          <input
            type="tel"
            [formControlName]="i"
            placeholder="Phone Number"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="formPhoneNumber.controls[i].errors?.['required'] && (formPhoneNumber.controls[i].touched || submitted)"
            class="general-form__validation"
          >
            Phone number is required.
          </p>
        </div>

        <div class="general-form__phone-buttons-wrapper">
          <button
            (click)="addPhoneNumber()"
            class="general-form__phone-buttons"
          >
            Add Phone Number
          </button>
          <button
            (click)="deletePhoneNumber()"
            class="general-form__phone-buttons"
          >
            Delete Phone Number
          </button>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            id="password"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['password'].errors?.['required'] && (generalForm.controls['password'].touched || submitted)"
            class="general-form__validation"
          >
            Password is required.
          </p>
          <p
            *ngIf="generalForm.controls['password'].errors?.['minlength'] && (generalForm.controls['password'].touched || submitted)"
            class="general-form__validation"
          >
            The password has to be at least 5 characters long.
          </p>
        </div>

        <div class="general-form__input-block">
          <input
            type="password"
            formControlName="repeatPassword"
            placeholder="Confirm password"
            id="repeatPassword"
            class="general-form__input-block__input"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <span class="general-form__border"></span>
          <p
            *ngIf="generalForm.controls['repeatPassword'].errors && (generalForm.controls['repeatPassword'].touched || submitted)"
            class="general-form__validation"
          >
            The passwords must match.
          </p>
        </div>

        <button class="general-form__submit" (click)="onSubmit()">
          Submit
        </button>
      </form>

      <div class="general-form-textwrapper">
        <span>Already have an account? </span>
        <a href="#"> Sign in!</a>
      </div>
    </div>
  </div>
</main>
