<div class="general-form__input-block">
    <input
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    class="general-form__input-block__input"
    (blur)="onTouched()"
  />
      <span class="general-form__border"></span>
      <ng-container *ngFor="let error of control.errors | keyvalue">
      <p *ngIf="control.hasError('required') && control.touched" class="general-form__validation">
        {{ requiredError }}
      </p>
      <p *ngIf="control.hasError(error.key) && !control.hasError('required') && control.touched" class="general-form__validation">
        {{ invalidError }}
      </p>
    </ng-container>
</div>