@font-face {
  font-family: "Poppins Regular";
  src: url("../../../../assets/fonts/Poppins-Bold.eot");
  src: url("../../../../assets/fonts/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../assets/fonts/Poppins-Regular.woff") format("woff"),
    url("../../../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}

@mixin reg {
  font-family: "Poppins Regular", sans-serif;
  font-weight: 300;
}

.general-form {
  &__input-block {
    width: 300px;
    margin-bottom: 37px;
    &__input {
      border: 0;
      width: 300px;
      @include reg;
      &:focus {
        outline: none;
      }
      &:focus + .general-form__border {
        display: block;
        background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
        height: 2px;
        width: 300px;
      }
    }
  }

  &__border {
    display: block;
    background: #f1f1f1;
    height: 2px;
    width: 300px;
  }

  &__validation {
    @include reg;
    margin-bottom: 0;
  }
}
